{% extends "app/base.html" %}
{% block content %}
<div class="heading">
    <div>
        <h1>テーマの変更</h1>
    </div>
</div>

<p class="mb1">現在のテーマ：{{ user.theme }}</p>

<form action="" method="POST" class="p-memo">
    {% csrf_token %}
    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <p class="p0">{{ field }} {{ field.errors }}</p>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-flat">登録する</button>
</form>

{% endblock %}